html,body {
    height: 100%;
   /*background: #e8eded;*/

    background: #e8eded;
    background: -moz-radial-gradient(center, ellipse cover, #e8eded 0%, #c0c4c4 100%) ; /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #e8eded 0%,#c0c4c4 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #e8eded 0%,#c0c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eded', endColorstr='#c0c4c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}


#root{
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 2%;

}
main {
    height: 100%;
}